/* home page sect */
body {
    overflow-x: hidden;
}
body:not(section:first-child) {
    background-color: #000000;
}
html{
    scroll-behavior: smooth;
}

/* navbar sect */
.nav-link {
    color: black;
    font-size: 50px;
    font-weight: bolder ;
    margin-bottom: 10px;
}
.navbar{
    background: #96005A;
    width: 100%;
    height: 50px;
}
#nav-content{
    background-color: #96005A;
    box-shadow: 0px 3px 1px #C2922F;
    width: 100%;
}
.img{
    margin-left: -100px;
    margin-top: -10px;
    width: 250px;
}

/* Home page sect */
.home-page-text{
    color: white;
    font-size: 50px;
}
.container-header{
    border: #C2922F 2px solid;
    margin-top: 50px;
}
.text{
    color: white;
    font-size: 22px;
    background-color: #96005A;
    border: #96005A 5px solid;
    width: 200px;
    margin-left: 70px;
    margin-top: 15px;
    margin-bottom: 20px;
}
h3.text{
    text-align: center;
}
.img1{
    margin-top: 45px;
    width: 700px;
}
.us{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.about-us{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.body-lotion-link{
    margin-bottom: 5px;
}
.footer-img{
    margin-top: 100px;
    margin-bottom: 50px;
}
.search-img{
    margin-right: 6%;
}
.search{
    display: flex;
    margin-right: 10cqi;
    margin-top: -30px;
}
.sign-in-text{
    margin-left: -250px;
    margin-top: -20px;
    color: black;
    font-weight: 700;
}
.space-thing{
    margin-left: -140px;
    font-size: 28px;
    font-weight: 700;
    color: black;
}
.cart-img{
    margin-left: -100px;
    width: 25px;
    height: 25px;
    margin-top: -100px;
}
.h6-text{
    margin-left: -150px;
    margin-top: -23px;
}

/* perfume sect */



/* body mist sect */



/* body lotion sect */



/* cart page */


/* footer sect */
#footer{
    color: white;
    background-color: #96005A;
    display: flex;
    justify-content: center;
    height: 350px;
}
.copyright-text{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #96005A;
    height: 50px;
}
#footer-text{
    margin-top: 30px;
    justify-content: left;
    text-align: left;
}